{% extends 'base.html' %}
{% block body %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Post Analysis</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>{{ current_user.name }}</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">

                <h5>Hey {{ current_user.name }}, this post is just <strong>26 Hours Old</strong> and can still do
                    better:</h5>
                <br>

                <div class="row">

                    <!-- First ROw -->

                    <div class="col-md-2">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-check-square  ptitle"></i>
                                <bold class="ptitle">Engagement</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_engaged_users }}</h1>
                                <br>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-bullhorn ptitle"></i>
                                <bold class="ptitle">Reach</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_post_reach }}</h1>
                                <br>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-thumbs-down ptitle"></i>
                                <bold class="ptitle">Negative Feedback</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_negative_feedback }}</h1>
                                <br>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-users ptitle"></i>
                                <bold class="ptitle">People That Engaged With This Post The Most</bold>
                                <br>
                                <br>
                                <ul>
                                    <li>Ayobami Mensah</li>
                                    <li>Simeon Abdul</li>
                                </ul>
                                <!-- <h1 class="title5">1,506</h1> -->
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- End of First Row -->

                <h5>Here's what you still do about the Post and How It Could Boost Your Current Metrics:</h5>
                <br>

                <!-- Second ROw -->

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">

                                <strong>Try One of The Suggestions And See How It Improves Your Metrics</strong>
                                <hr>
                                <ul>
                                    <br>
                                    <br>
                                    <li> Add an Hashtag such as #Fashion #Accra
                                        <input class="btn btn-primary3" type="button" value="Simulate Results"
                                               onclick="addData(2,4,2)">
                                    </li>
                                    <br>
                                    <li> Start conversations with people that engaged the most
                                        <input class="btn btn-primary3" type="button" value="Simulate Results"
                                               onclick="addData(4,10,6)">
                                    </li>
                                    <br>
                                    <br>
                                    <li> Post was 100% text. Add picture or a short video
                                        <input class="btn btn-primary3" type="button" value="Simulate Results"
                                               onclick="addData(3,5,1)">
                                    </li>
                                    <br>
                                    <br>
                                    <!-- <button class="btn btn-primary" id="b">Simulate</button> -->
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </ul>

                                <hr>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">

                                <strong class="simmtext">Metrics Simulation Engine</strong>
                                <div class="styled-select slate">
                                    <label>
                                        <select id="time_decay_factor">
                                            <option value=0>1 Hour Projection</option>
                                            <option value=1>5 Hours Projection</option>
                                            <option value=2>12 Hours Projection</option>
                                            <option value=3>24 Hours Projection</option>
                                        </select>
                                    </label>
                                </div>

                                <hr>
                                <br>
                                <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>

                                <canvas id="myChart" width="400" height="400"></canvas>

                                <script>
                                    "use strict";
                                    var ctx = document.getElementById("myChart").getContext('2d');

                                    var engage = {{ post_metrics.lifetime_engaged_users }};
                                    var reach = {{ post_metrics.lifetime_post_reach }};
                                    var clicks = {{ post_metrics.clicks }};

                                    var data = {
                                        labels: ["Engagement", "Reach", "Clicks"],
                                        datasets: [{
                                            label: 'total',
                                            data: [engage, reach, clicks],
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255,99,132,1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }]
                                    }
                                    var options = {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }

                                    function addData(incEng, incR, incK) {
                                        var t_d_f = document.getElementById("time_decay_factor").value;
                                        myChart.data.datasets[0].data[0] = (engage + incEng) - t_d_f;
                                        myChart.data.datasets[0].data[1] = (reach + incR) - t_d_f;
                                        myChart.data.datasets[0].data[2] = (clicks + incK) - t_d_f;
                                        myChart.update();
                                    }

                                    var myChart = new Chart(ctx, {
                                        type: 'bar',
                                        data: data,
                                        options: options
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
        </div>
    </footer>
{% endblock %}









