{% extends 'base.html' %}
{% block body %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Weekly Advisory Report</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>{{ current_user.name }}</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- First ROw -->
                    <!--

                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                        <h4> <i class="fa fa-eye"></i>  <bold></bold>Summary</bold></h4>

                                                        <ul>
                                                                <li><p>Aww...you got <strong><span style="color:red">NO</span></strong> new Fans today. The usual cause for this is that your post did not reach a lot of people outside your Fan base.<p></p></li>

                                                             <li> <p> Your stats for today shows that your Post view is quite <strong><span style="color:red">low</span></strong>, although it is an improvement from yesterday’s post it can still be better.</p></li>

                                                             <li><p>Your engagement level is <strong> <span style="color:red">low</span> </strong> as well. Given the number of people who viewed your post, the interaction level is quite low.</p></li>

                                                             <li><p>Your post got <strong><span style="color:red">no</span></strong> negative feedback.</p> </li>

                                                         </ul>
                                                </div>


                                                <footer class="footer">
                                                    <div class="container-fluid">
                                                    </div>
                                                </footer>


                                            </div>
                                    </div> -->

                    <!-- End Of First ROw -->


                    <!-- Second ROw -->


                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">

                                <div class="advbut">
                                    <i class="fa fa-envelope"></i>
                                    <i class="fa fa-share-square"></i>
                                    <i class="fa fa-save"></i>
                                    <i class="fa fa-download"></i>
                                </div>
                                <!-- <h4><i class="fa fa-volume-up"></i> <bold>Here's What You Can Do To Improve</bold></h4> -->
                                <br>
                                <p class="iflixwelcome">Based on the Performance of Your Posts Over The Week:</p>
                                <br>
                                <ul>
                                    <li><p>People from <strong>Accra</strong> viewed your Post the most, try targeting
                                        them more for such Posts to instill their interest. This helps you put the right
                                        content in the faces of the right people in order to reduce negative feedbacks.
                                        Also when posting similar content, use the hashtag <strong>#Accra</strong> to
                                        get more organic reach and follows from interested people in your locality.</p>
                                    </li>
                                    <br>
                                    <li><p> Your audience are mostly active between 12pm to 1pm, you should post at that
                                        time to get more views from fans. They are more inclined to stay on your Post
                                        longer and even engage.</p></li>
                                    <br>
                                    <li><p> Allowing people and other businesses to tag your page and share it with
                                        others is a great way to expand your reach to other audiences and boost
                                        Engagement. Consider Partnering with <strong>Keexs Shoes</strong> because they
                                        offer a supporting Service to yours in Accra, also, <strong>Nana Kwame</strong>
                                        can be a good Influencer for your product.</p></li>
                                    <br>
                                    <li><p> Consider your content type and ensure it is not always Promotional else your
                                        audience’s interest in your Posts will reduce. Your content should always be 80%
                                        user focused and 20% promotional.</p></li>
                                </ul>

                            </div>


                            <footer class="footer">
                                <div class="container-fluid">
                                </div>
                            </footer>


                        </div>
                    </div>

                    <!-- End Of Second ROw -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}
