{% extends 'base.html' %}
{% block body %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">

                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Top Metric Counts Section -->
        <section class="dashboard-counts section-padding">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <p class="iflixwelcome">Welcome <strong>{{ current_user.social_username }}</strong>; Here is a
                            summary of how the posts on your
                            Facebook Page are doing today</p>
                    </div>
                    <div class="col-md-3">
                        <label for="dateofbirth"><input type="date" name="dateofbirth" id="dateofbirth"></label>
                    </div>
                </div>

                <br>
                <br>

                <div class="row">
                    <!-- Count item widget-->
                    <div class="col-md-5">
                        <!-- Placeholder to preserve space-->
                    </div>

                    <!-- Count item widget-->
                    <div class="col-md-1">
                        <button id="legend"></button> &nbsp; High
                    </div>

                    <!-- Count item widget-->
                    <div class="col-md-1">
                        <button id="legend1"></button> &nbsp; Ok

                    </div>

                    <!-- Count item widget-->
                    <div class="col-md-1">
                        <button id="legend2"></button> &nbsp; Low

                    </div>
                    <div class="col-md-4">
                        <!-- DatePicker -->
                        <!-- <label for="dateofbirth"><input type="date" name="dateofbirth" id="dateofbirth"></label> -->
                    </div>

                </div>
            </div>

            <hr>

            <!-- Rows of Posts and Metrics -->
            <div class="content">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <div class="card">

                            <hr>
                            <!-- Zero Post -->
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="news list-unstyled">
                                        <li class="d-flex justify-content-between">
                                            <div class="left-col d-flex">
                                                <div class="title">

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-2">
                                    <div class="name"><strong class="text-uppercase">Negative Feedback</strong></div>
                                </div>

                                <div class="col-md-2">
                                    <div class="name"><strong class="text-uppercase">Engagement</strong></div>
                                </div>

                                <div class="col-md-2">
                                    <div class="name"><strong class="text-uppercase">Reach</strong></div>
                                </div>

                                <div class="col-md-2">
                                    <!-- <div class="name"><strong class="text-uppercase">23</strong></div> -->
                                </div>
                            </div>
                            <hr>


                            <!-- First Post -->
                            {% for post_id, post in user_posts.items() %}
                                {% if post.post_title is none %}
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="news list-unstyled">
                                                <li class="d-flex justify-content-between">
                                                    <div class="left-col d-flex">
                                                        <div class="title">
                                                            <i class="fa fa-paperclip"></i>
                                                            <a href="#">
                                                                <strong class="ttt">{{ post.post_title|truncate(70, True) }}</strong>
                                                            </a>
                                                            <div class="update-date">{{ post.created_time }}<span
                                                                    class="updates-month">[{{ post.created_date }}]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="center-block" id="circle"></div>
                                        </div>

                                        <div class="col-md-2">
                                            <div id="circle2"></div>
                                        </div>

                                        <div class="col-md-2">
                                            <div id="circle1"></div>
                                        </div>

                                        <div class="col-md-2">

                                            <a class="btn btn-primary"
                                               href="{{ url_for('dashboard_post_analysis', post_id=post_id) }}"
                                               role="button">Post Analysis</a>
                                        </div>

                                    </div>
                                    <!--hr-->
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="container-fluid">
        </div>
    </footer>
{% endblock %}