{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <canvas id="myChart" width="100" height="50"></canvas>
        <br>
        <h5 class='text-center'>This shows how many fans you acquired each day this week</h5>
    </div>
    <br>
    <br>
    <div class="container">
        <canvas id="myChart2" width="100" height="50"></canvas>
        <h5 class='text-center'>This shows the engagement level for each content type, you should post more of the
            contents with a larger size</h5>
    </div>

    <br>
    <br>
    <div class="container">
        <canvas id="myChart3" width="100" height="50"></canvas>
        <br>
        <h5 class='text-center'>This shows the times your audience are active online each day, you should post at these
            times to get more reach</h5>
    </div>
{% endblock %}