{% extends 'base.html' %}
{% block body %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Post Analysis</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">

                <h5>Hey, this post is just <strong>16 Hours Old</strong> and can definetly still do better:</h5>
                <br>

                <div class="row">

                    <!-- First ROw -->

                    <div class="col-md-2">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-thumbs-up"></i>
                                <bold>Engagement</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_engaged_users }}</h1>
                                <br>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-thumbs-up"></i>
                                <bold>Reach</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_post_reach }}</h1>
                                <br>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-thumbs-up"></i>
                                <bold>Negative Feedback</bold>
                                <br>
                                <br>
                                <h1 class="title5">{{ post_metrics.lifetime_negative_feedback }}</h1>
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <i class="fa fa-thumbs-up"></i>
                                <bold>People That Engaged With Your Post</bold>
                                <br>
                                <br>
                                <ul>
                                    <li>Ayobami Mensah</li>
                                    <li>Simeon Abdul</li>
                                </ul>
                                <!-- <h1 class="title5">1,506</h1> -->
                                <br>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- End of First Row -->

                <h5>Here's what you still do about the Post and How It Could Boost Your Current Metrics:</h5>
                <br>

                <!-- Second ROw -->

                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">

                                <strong>Simulate One of The Suggestions And See How It Improves Your Metrics</strong>
                                <ul>
                                    <br>
                                    <br>
                                    <li> Add An Hashtag such as #Fashion #Accra
                                        <button class="btn btn-primary3" id="b">Simulate</button>
                                    </li>
                                    <br>
                                    <br>
                                    <li> Start A Conversation With People That Liked the post
                                        <button class="btn btn-primary3" id="c">Simulate</button>
                                    </li>
                                    <br>
                                    <br>
                                    <li> Place A Call To Action Button on Your Post
                                        <button class="btn btn-primary3" id="a">Simulate</button>
                                    </li>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                </ul>

                                <hr>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">

                            <br>
                            <strong class="simmtext">Metrics Simulation Engine</strong>
                            <br>
                            <br>
                            <div id="pie"></div>

                            <!-- <div style="width: 300px; text-align: center;">
                                <button  class="buttons1" id="b" style="width:80px;">Simulate</button>
                                <button class="buttons2" id="a" style="width:80px;">Simulate</button>
                                <button class="buttons3" id="c" style="width:80px;">Simulate</button>
                            </div> -->

                            <br>
                        </div>
                    </div>
                </div>

                <script>

                    var data = [{"letter": "Shares", "presses": 3}, {
                        "letter": "Likes",
                        "presses": 4
                    }, {"letter": "Comments", "presses": 3}];
                    console.log(data);

                    var width = 300,
                        height = 300,
                        // Think back to 5th grade. Radius is 1/2 of the diameter. What is the limiting factor on the diameter? Width or height, whichever is smaller
                        radius = Math.min(width, height) / 2;

                    var color = d3.scaleOrdinal()
                        .range(["#f9a11b", "#3ac569", "#e94e77"]);

                    var pie = d3.pie()
                        .value(function (d) {
                            return d.presses;
                        })(data);


                    var arc = d3.arc()
                        .outerRadius(radius - 10)
                        .innerRadius(0);

                    var labelArc = d3.arc()
                        .outerRadius(radius - 40)
                        .innerRadius(radius - 40);

                    var svg = d3.select("#pie")
                        .append("svg")
                        .attr("width", width)
                        .attr("height", height)
                        .append("g")
                        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")"); // Moving the center point. 1/2 the width and 1/2 the height

                    var g = svg.selectAll("arc")
                        .data(pie)
                        .enter().append("g")
                        .attr("class", "arc");

                    g.append("path")
                        .attr("d", arc)
                        .style("fill", function (d) {
                            return color(d.data.letter);
                        })
                        .each(function (d) {
                            this._current = d;
                        }); // store the initial angles;

                    g.append("text")
                        .attr("transform", function (d) {
                            return "translate(" + labelArc.centroid(d) + ")";
                        })
                        .text(function (d) {
                            return d.data.letter;
                        })
                        .style("fill", "#fff")
                        .each(function (d) {
                            this._current = d;
                        }); // store the initial angles;

                    function change() {
                        var pie = d3.pie()
                            .value(function (d) {
                                return d.presses;
                            })(data);
                        path = d3.select("#pie").selectAll("path").data(pie); // Compute the new angles
                        path.attr("d", arc); // redrawing the path
                        d3.selectAll("text").data(pie).attr("transform", function (d) {
                            return "translate(" + labelArc.centroid(d) + ")";
                        }); // recomputing the centroid and translating the text accordingly.
                    }

                    d3.select("button#a")
                        .on("click", function () {
                            data[0].presses++;
                            change();
                        })
                    d3.select("button#b")
                        .on("click", function () {
                            data[1].presses++;
                            change();
                        })
                    d3.select("button#c")
                        .on("click", function () {
                            data[2].presses++;
                            change();
                        })

                    function arcTween(a) {
                        var i = d3.interpolate(this._current, a);
                        this._current = i(0);
                        return function (t) {
                            return arc(i(t));
                        };
                    }

                    function labelarcTween(a) {
                        var i = d3.interpolate(this._current, a);
                        this._current = i(0);
                        return function (t) {
                            return "translate(" + labelArc.centroid(i(t)) + ")";
                        };
                    }

                    function change() {
                        var pie = d3.pie()
                            .value(function (d) {
                                return d.presses;
                            })(data);
                        path = d3.select("#pie").selectAll("path").data(pie);
                        //path.attr("d", arc);
                        path.transition().duration(500).attrTween("d", arcTween); // Smooth transition with arcTween
                        //d3.selectAll("text").data(pie).attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; });
                        d3.selectAll("text").data(pie).transition().duration(500).attrTween("transform", labelarcTween); // Smooth transition with labelarcTween
                    }


                </script>

                <!-- End of Javascript Graphs -->

                <!-- End of Second ROw -->

                <h5>We Know This Because From Historical Data:</h5>
                <!-- Third ROw -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <ul>
                                    <li> Posts with Hashtags generally do well</li>
                                    <br>
                                    <li> Engaging With People that liked your post is best way to start engagement</li>
                                    <br>
                                    <li> Posts that resonates with a Trending topic tends to score high</li>
                                    <br>
                                    <li> People relate better with pictures</li>
                                </ul>

                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
        </div>
    </footer>
{% endblock %}









