{% extends 'base.html' %}
{% block body %}
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Daily Posts Report</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-search"></i>
                                <p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="">
                                <p>Account</p>
                            </a>
                        </li>

                        <li>
                            <a href="{{ url_for('logout') }}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <!-- Table -->


                    <div class="col-md-12">
                        <div class="card">
                            <div class="row">
                                <br>
                                <div class="col-md-9">
                                    <p class="iflixwelcome">Here is the report of the total performance of all posts on
                                        your Facebook Page today:</p>
                                </div>
                                <div class="col-md-3">
                                    <label for="dateofbirth"><input type="date" name="dateofbirth"
                                                                    id="dateofbirth"></label>
                                </div>
                                <br>
                            </div>


                            <!-- Post Metrics Card -->

                            <div class="content">
                                <div class="container-fluid">
                                    <br>
                                    <div class="row">

                                        <!-- First ROw -->

                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="header">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <bold>Number of Posts</bold>
                                                    <br>
                                                    <br>
                                                    <h1 class="title5">5</h1>
                                                    <br>
                                                    <hr>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="header">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <bold>Post With Most Engagement</bold>
                                                    <br>
                                                    <br>
                                                    <h1 class="title5">Post 4</h1>
                                                    <br>
                                                    <hr>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="header">
                                                    <i class="fa fa-thumbs-up"></i>
                                                    <bold>Post With Most Reach</bold>
                                                    <br>
                                                    <br>
                                                    <h1 class="title5">Post 1</h1>
                                                    <br>
                                                    <hr>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                    <br> <br>


                                    <h4><strong>Compare Posts Performance</strong></h4>
                                    <br>
                                    <div class='col-md-4 card'>
                                        <br>
                                        <br>
                                        <h5 class="text-center">Select Post</h5>

                                        <div class="dropdown text-center">
                                            <button class="btn btn-primary dropdown-toggle" type="button"
                                                    data-toggle="dropdown">Post1
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"> Post 2</a></li>
                                                <li><a href="#"> Post 3</a></li>
                                                <li><a href="#"> Post 4</a></li>
                                            </ul>
                                            <br>
                                            <br>
                                            <br>
                                            <br>

                                        </div>
                                    </div>


                                    <!--             Compare Post Button In-Between             -->

                                    <div class='col-md-4'>
                                        <br>
                                        <br>
                                        <h4 class='text-center'><strong>versus</strong></h4>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <button class='center-block btn btn-primary1'>Compare</button>

                                    </div>

                                    <!--             End Of Compare Post Button In-Between             -->

                                    <div class='col-md-4 card'>
                                        <br>
                                        <br>
                                        <h5 class="text-center">Select Post</h5>

                                        <div class="dropdown text-center">
                                            <button class="btn btn-primary dropdown-toggle" type="button"
                                                    data-toggle="dropdown">Post 2
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#"> Post 2</a></li>
                                                <li><a href="#"> Post 3</a></li>
                                                <li><a href="#"> Post 4</a></li>
                                            </ul>

                                            <br>
                                            <br>
                                            <br>
                                            <br>

                                        </div>

                                    </div>
                                </div>


                                <!-- <div> <p>Post 1 did better than Post 2 because .....  </p> </div> -->


                            </div>

                        </div>
                    </div>

                    <!-- Post Metrics Card Finish -->


                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                </div>
            </footer>
        </div>
    </div>
{% endblock %}



