{% extends "base.html" %}
{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><img src="../static/img/121.png" width="100px"
                                                                     height="25px"></a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#"><span data-feather="user"></span>iFlixGH</a><span><a
                    href="{{ url_for('logout') }}">Logout</a>
</span>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="facebook"></span>
                                Add Accounts <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/user_guide">
                                <span data-feather="user"></span>
                                UserGuide
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/marketing">
                                <span data-feather="volume-2"></span>
                                Marketing Objective
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/report">
                                <span data-feather="file"></span>
                                Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="users"></span>
                                Help Center
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Integrations
                            </a>
                        </li>
                    </ul>


                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    {% block content %}
                        {% if current_user.is_authenticated %}
                            <h1 class="h2">Welcome {{ current_user.name }}!. To begin reaping marketing success,kindly
                                add
                                your social media account. We only accept Facebook for now</h1>
                        {% endif %}
                    {% endblock %}
                </div>


                <div class="content">
                    <div class="container-fluid">
                        <div class="card">

                            <div class="card-body">

                                <br>
                                <br>
                                <div class="places-buttons">
                                    {% if current_user.page_id is none %}
                                        <div class="row">
                                            <div class="col-md-6 offset-md-3 text-center">
                                                <h4 class="card-title">Click Any Of The Icons To Start
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-md-3 col-lg-3">
                                                <img src="/static/img/facebook.svg" width="100px" height="100px"
                                                     align="middle" class="center">
                                                <a href="{{ url_for('oauth_authorize', provider='facebook') }}">
                                                    <button class="btn btn-default btn-block">Add Account</button>
                                                </a>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <img src="/static/img/twitter.svg" width="100px" height="100px"
                                                     align="middle" class="center">
                                                <button class="btn btn-default btn-block">Add Account</button>
                                            </div>
                                            <div class="col-md-3 col-lg-3">
                                                <img src="/static/img/instagram.svg" width="100px" height="100px"
                                                     align="middle" class="center">
                                                <button class="btn btn-default btn-block">Add Account</button>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-6 offset-md-3 text-center">
                                                <h4 class="card-title">Sure! We have Data 4 you!
                                                </h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        <!-- Mini Modal -->
                        <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center">
                                        <div class="modal-profile">
                                            <i class="nc-icon nc-bulb-63"></i>
                                        </div>
                                    </div>
                                    <div class="modal-body text-center">
                                        <p>Always have an access to your profile</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link btn-simple">Back</button>
                                        <button type="button" class="btn btn-link btn-simple" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  End Modal -->
                    </div>
                </div>


            </main>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/js/vendor/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}
