<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analizar</title>
</head>
<body>
{% if current_user.is_authenticated %}
    <h2>Hi, {{ current_user.username }}!</h2>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>

    {% if current_user.page_id is not none %}
        <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Facebook Account Data</a></p>
        <p><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Twitter Account Data</a></p>
    {% endif %}
{% else %}
    <h2>I don't know you!</h2>
    {% for message in get_flashed_messages() %}
        <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
{% endif %}
</body>
</html>